
  <div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex.xs="100%" fxFlex.xs="80%">
      <mat-toolbar class="warn">Login Page</mat-toolbar>
      <form fxLayoutAlign="stretch" fxLayout="column" class="login-form">

        <mat-form-field class="example-full-width">
          <input matInput placeholder="User name">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput type="password" placeholder="password">
        </mat-form-field>
        <button mat-raised-button type="submit" class="btn-login">LOGIN</button>

        <div class="social">
          <h4 class="social-title"> OR </h4>
          <div class="social-box">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-google-plus-g"></i>
          </div>
        </div>

        <div class="register">
         <span class="hidden">Not a member ?</span> <a href="#" class="register-link"> Sign up now </a>
        </div>

        <div class="forgot">
          <a href="#" class="forgot-span">Forgot your password ?</a>
        </div>
      </form>
    </mat-card>
  </div>


