<div class="footerMenu">
  <div class="menu1">
    <span class="menu1-title title">what happened</span>
    <ul class="menu1-des">
      <li class="menu1-des_li">[공지] 개인 정보 처리 방침 변경 사전 안내</li>
      <li class="menu1-des_li">[공지] 29CM 강남 스토어 영업 종료</li>
      <li class="menu1-des_li">[공지] 개인 정보 처리 방침 변경 사전 안내</li>
      <li class="menu1-des_li">[공지] iOS 10 이하 버전 지원 중단 안내</li>
      <li class="menu1-des_li">[공지] 개인 정보 처리 방침 변경 사전 안내</li>
    </ul>
  </div>

  <div class="menu2">
    <div class="menu2-box">
      <div class="menu2-title title">about us</div>
      <ul class="menu2-des">
        <li class="menu2-des_li"> 회사 소개</li>
        <li class="menu2-des_li">인재 채용</li>
        <li class="menu2-des_li">상시 할인 혜택</li>
      </ul>
    </div>

    <div class="menu2-box">
      <div class="menu2-title title ">my order</div>
      <ul class="menu2-des">
        <li class="menu2-des_li"> 내 주문</li>
        <li class="menu2-des_li">주문 배송</li>
        <li class="menu2-des_li"> 취소 / 교환 / 반품 내역</li>
        <li class="menu2-des_li"> 상품 리뷰 내역</li>
        <li class="menu2-des_li"> 증빙 서류 발급</li>
      </ul>
    </div>

    <div class="menu2-box">
      <div class="menu2-title title">my account</div>
      <ul class="menu2-des">
        <li class="menu2-des_li"> 회원 정보 수정</li>
        <li class="menu2-des_li">회원 등급</li>
        <li class="menu2-des_li"> 마일리지 현황</li>
        <li class="menu2-des_li"> 쿠폰</li>
      </ul>
    </div>

    <div class="menu2-box">
      <div class="menu2-title title">help</div>
      <ul class="menu2-des">
        <li class="menu2-des_li">1 : 1 상담 내역</li>
        <li class="menu2-des_li">상품 Q & A 내역</li>
        <li class="menu2-des_li">공지 사항</li>
        <li class="menu2-des_li"> 자주하는 질문</li>
        <li class="menu2-des_li">고객의 소리</li>
      </ul>
    </div>
  </div>
</div>

<div class="footer-social">
  <div class="social1">
    <p>© 2020-2021 what happened corp  l  (주) 왓헤픈 ｜ 대표자 : 홍길동 ｜ 사업자 등록번호 : 356-00-00000 ㅣ test0101@what happened.co.kr</p>
    <p>서울특별시 강남구 도산대로 8길 17 ｜ FAX : 070-0000-0000  l  서비스 이용약관  l  개인정보처리방침</p>
  </div>

  <div class="social2">
    <div class="icon">
      <div class="icon1"><i class="fab fa-facebook"></i></div>
      <div class="icon2"><i class="fab fa-linkedin"></i></div>
      <div class="icon3"><i class="fas fa-blog"></i></div>
    </div>
  </div>
</div>

