<div class="issue">
  <div class="box">
    <div class="box-title">Happened’s issue</div>
    <div class="wrap">
      <div class="box-des">
        <p class="des1"> 모바일에 최적화된 비디오를 단 몇 분 만에 제작해보세요. 디자이너가 아니더라도, 모든 팀에서</p>
        <p class="des2"> 다듬을 수 있습니다. 브랜드의 성공을 위한 첫 걸음을 내딛어보세요. 비디오를 단 몇 분 만에 제작해보세요.</p>
      </div>
      <button class="btn-brand">SEE MORE</button>
    </div>
  </div>

  <div class="object3">
    <img src="../../../../assets/img/object3.png" alt="">
  </div>
  <div class="object2">
    <img src="../../../../assets/img/news-object-02.png" alt="">
  </div>

  <div class="layout">
    <div class="layout-item item1">
      <div class="layout-box">
        <span class="span1">WHPN</span>
        <span class="span2">ISSUE</span>
      </div>
      <div class="layout-item_img">
        <img src="../../../../assets/img/news-img-01.png" alt="">
      </div>
      <div class="coin">
        <img src="../../../../assets/img/news-object-03.png" alt="">
      </div>
    </div>
    <div class="layout-item">
      <div class="layout-brand">A Brand</div>
      <img src="../../../../assets/img/issue1.PNG" alt="" class="item-img img-1">
    </div>
    <div class="layout-item">
      <div class="layout-brand">B Brand</div>
      <img src="../../../../assets/img/issue2.png" alt="" class="item-img img-2">
    </div>
    <div class="layout-item item4">
      <div class="layout-brand">C Brand</div>
      <img src="../../../../assets/img/issue3.png" alt="" class="item-img">
      <div class="lol">
        <img src="../../../../assets/img/news-object-05.png" alt="">
      </div>
    </div>
    <div class="layout-item">
      <div class="layout-brand">D Brand</div>
      <img src="../../../../assets/img/issue4.png" alt="" class="item-img">
    </div>
  </div>
</div>
