.brand {
  position: relative;
  background-color: var(--blue-color);
  padding: 140px 0 170px 0;
}

.box {
  position: absolute;
  top: 140px;
  left: 0;
  margin-left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: var(--yellow-color);
  margin-bottom: 75px;
}

.box-title {
  font-size: 45px;
  font-weight: var(--font-bold);
  line-height: 60px;
  margin-bottom: 20px;
}

.box-des {
  line-height: 30px;
  font-size: var(--text-mid);
}

.des1 {
  display: block;
  text-indent: 10px;
}

.brand-img {
  margin-left: 50%;
  transform: translateX(-50%);
}

.box2 {
  position: absolute;
  top: 50%;
  right: 26%;
  transform: translate(25%, -23%);
}

.box2-title {
  font-size: 25px;
  line-height: 60px;
  font-weight: var(--font-extra);
  margin-bottom: 15px;
}

.box2-des {
  max-width: 545px;
  font-size: var(--text-mid);
  line-height: 30px;
}

.btn-brand {
  margin-top: 40px;
  width: 200px;
  height: 60px;
  border: solid 3px var(--color-border);
  border-radius: 3px;
  font-size: 23px;
  line-height: 25px;
  font-weight: var(--font-extra);
  cursor: pointer;
}

.btn-brand:hover {
  background-color: var(--yellow-color);
}

@media (min-width: 1024) and (max-width: 1400px) {
}

/* Tablet */
@media (min-width: 737px) and (max-width: 1024px) {
  .wrap {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
}

/* Mobile */
@media (min-width: 374px) and (max-width: 736px) {
  .wrap {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
  }
}

/* Mobile and Tablet */
@media (min-width: 374px) and (max-width: 1024px) {

  .brand {
    position: relative;
    height: 200px;
    background-color: var(--blue-color);
    padding: 15px 0 15px 0;
  }

  .box {
    position: unset;
    margin-bottom: 15px;
    margin-left: 0;
    transform: translateX(0);
  }

  .box2,
  .window {
    display: none;
  }

  .box-title {
    font-size: var(--text-mid);
    font-weight: var(--font-bold);
    line-height: 30px;
    margin-bottom: 15px;
    margin-top: 0px;
    padding-top: 15px;
    text-transform: uppercase;
  }

  .box-des {
    line-height: 25px;
    font-size: 12px;
    text-align: left;
    width: 270px;
  }

  .box-des p {
    max-width: 90%;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }

  .box-des span {
    display: block;
  }

  .des1 {
    display: block;
    text-indent: unset;
    margin-bottom: 15px;
  }

  .btn-brand {
    margin-top: 15px;
    width: 120px;
    height: 40px;
    margin-left: unset;
    margin-right: 15px;
    border: solid 2px var(--color-border);
    border-radius: 2px;
    font-size: 12px;
    line-height: 20px;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
    margin-bottom: 15px;
    color: var(--color-border);
  }

}
