<div class="footer">
  <div class="box">
    <div class="box-title">what happened</div>
    <div class="box-des">
      <span class="des1">  How to create mobile-optimized videos in minutes. Not a designer,</span>
      <span class="des2"> every team makes a lot of videos Can be trimmed. Take the first</span>
    </div>
    <button class="btn-brand">SEE MORE</button>
  </div>
</div>


<!-- MOBILE -->
<div class="footer-mobile">

  <div class="box">
    <div class="box-title">what happened</div>
    <div class="box-des">
      <span class="des1">  How to create mobile-optimized videos in minutes. Not a designer,</span>
      <span class="des2"> every team makes a lot of videos Can be trimmed. Take the first</span>
    </div>
    <button class="btn-brand">SEE MORE</button>
  </div>

  <div class="mobile-img">
    <img src="../../../../assets/img/video.png" alt="">
  </div>
</div>
<app-footer-menu></app-footer-menu>
