<div class="product">
  <div class="row">
    <div class="col">
      <img src="../../../../assets/img/img-01.png" alt="">
      <div class="box">
        <div class="box-title">[what happen] How to create </div>
        <div class="box-des">
          <span class="des1">2,500 won</span>
          <span class="des2">
            <div class="heart"></div>
            <span class="price">236</span>
          </span>
        </div>
      </div>

    </div>
    <div class="col">
      <img src="../../../../assets/img/img-002.png" alt="">

      <div class="box">
        <div class="box-title">[what happen] How to create </div>
        <div class="box-des">
          <span class="des1">2,500 won</span>
          <span class="des2">
            <div class="heart"></div>
            <span class="price">236</span>
          </span>
        </div>
      </div>
    </div>
    <div class="col">
      <img src="../../../../assets/img/img-03.png" alt="">
      <div class="box">
        <div class="box-title">[what happen] How to create </div>
        <div class="box-des">
          <span class="des1">2,500 won</span>
          <span class="des2">
            <div class="heart"></div>
            <span class="price">236</span>
          </span>
        </div>
      </div>
    </div>
    <div class="col">
      <img src="../../../../assets/img/img-04.png" alt="">
      <div class="box">
        <div class="box-title">[what happen] How to create </div>
        <div class="box-des">
          <span class="des1">2,500 won</span>
          <span class="des2">
            <div class="heart"></div>
            <span class="price">236</span>
          </span>
        </div>
      </div>
    </div>
    <div class="col">
      <img src="../../../../assets/img/img-05.png" alt="">
      <div class="box">
        <div class="box-title">[what happen] How to create </div>
        <div class="box-des">
          <span class="des1">2,500 won</span>
          <span class="des2">
            <div class="heart"></div>
            <span class="price">236</span>
          </span>
        </div>
      </div>
    </div>
    <div class="col">
      <img src="../../../../assets/img/img-06.png" alt="">
      <div class="box">
        <div class="box-title">[what happen] How to create </div>
        <div class="box-des">
          <span class="des1">2,500 won</span>
          <span class="des2">
            <div class="heart"></div>
            <span class="price">236</span>
          </span>
        </div>
      </div>
    </div>
    <div class="col">
      <img src="../../../../assets/img/img-07.png" alt="">
      <div class="box">
        <div class="box-title">[what happen] How to create </div>
        <div class="box-des">
          <span class="des1">2,500 won</span>
          <span class="des2">
            <div class="heart"></div>
            <span class="price">236</span>
          </span>
        </div>
      </div>
    </div>
    <div class="col">
      <img src="../../../../assets/img/img-08.png" alt="">
      <div class="box">
        <div class="box-title">[what happen] How to create </div>
        <div class="box-des">
          <span class="des1">2,500 won</span>
          <span class="des2">
            <div class="heart"></div>
            <span class="price">236</span>
          </span>
        </div>
      </div>
    </div>
    <div class="col">
      <img src="../../../../assets/img/img-09.png" alt="">
      <div class="box">
        <div class="box-title">[what happen] How to create </div>
        <div class="box-des">
          <span class="des1">2,500 won</span>
          <span class="des2">
            <div class="heart"></div>
            <span class="price">236</span>
          </span>
        </div>
      </div>
    </div>
    <div class="col">
      <img src="../../../../assets/img/img-10.png" alt="">
      <div class="box">
        <div class="box-title">[what happen] How to create </div>
        <div class="box-des">
          <span class="des1">2,500 won</span>
          <span class="des2">
            <div class="heart"></div>
            <span class="price">236</span>
          </span>
        </div>
      </div>
    </div>
    <div class="col">
      <img src="../../../../assets/img/img-11.png" alt="">
      <div class="box">
        <div class="box-title">[what happen] How to create </div>
        <div class="box-des">
          <span class="des1">2,500 won</span>
          <span class="des2">
            <div class="heart"></div>
            <span class="price">236</span>
          </span>
        </div>
      </div>
    </div>
    <div class="col">
      <img src="../../../../assets/img/img-12.png" alt="">
      <div class="box">
        <div class="box-title">[what happen] How to create </div>
        <div class="box-des">
          <span class="des1">2,500 won</span>
          <span class="des2">
            <div class="heart"></div>
            <span class="price">236</span>
          </span>
        </div>
      </div>
    </div>
    <div class="col">
      <img src="../../../../assets/img/img-13.png" alt="">
      <div class="box">
        <div class="box-title">[what happen] How to create </div>
        <div class="box-des">
          <span class="des1">2,500 won</span>
          <span class="des2">
            <div class="heart"></div>
            <span class="price">236</span>
          </span>
        </div>
      </div>
    </div>
    <div class="col">
      <img src="../../../../assets/img/img-14.png" alt="">
      <div class="box">
        <div class="box-title">[what happen] How to create </div>
        <div class="box-des">
          <span class="des1">2,500 won</span>
          <span class="des2">
            <div class="heart"></div>
            <span class="price">236</span>
          </span>
        </div>
      </div>
    </div>
    <div class="col">
      <img src="../../../../assets/img/img-15.png" alt="">
      <div class="box">
        <div class="box-title">[what happen] How to create </div>
        <div class="box-des">
          <span class="des1">2,500 won</span>
          <span class="des2">
            <div class="heart"></div>
            <span class="price">236</span>
          </span>
        </div>
      </div>
    </div>
    <div class="col">
      <img src="../../../../assets/img/img-16.png" alt="">
      <div class="box">
        <div class="box-title">[what happen] How to create </div>
        <div class="box-des">
          <span class="des1">2,500 won</span>
          <span class="des2">
            <div class="heart"></div>
            <span class="price">236</span>
          </span>
        </div>
      </div>
    </div>
    <div class="col">
      <img src="../../../../assets/img/img-05.png" alt="">
      <div class="box box-17">
        <div class="box-title">[what happen] How to create </div>
        <div class="box-des">
          <span class="des1">2,500 won</span>
          <span class="des2">
            <div class="heart"></div>
            <span class="price">236</span>
          </span>
        </div>
      </div>
    </div>
    <div class="col">
      <img src="../../../../assets/img/img-07.png" alt="">
      <div class="box">
        <div class="box-title">[what happen] How to create </div>
        <div class="box-des">
          <span class="des1">2,500 won</span>
          <span class="des2">
            <div class="heart"></div>
            <span class="price">236</span>
          </span>
        </div>
      </div>
    </div>
    <div class="col">
      <img src="../../../../assets/img/img-19.png" alt="">
      <div class="box">
        <div class="box-title">[what happen] How to create </div>
        <div class="box-des">
          <span class="des1">2,500 won</span>
          <span class="des2">
            <div class="heart"></div>
            <span class="price">236</span>
          </span>
        </div>
      </div>
    </div>
    <div class="col">
      <img src="../../../../assets/img/img-20.png" alt="">
      <div class="box">
        <div class="box-title">[what happen] How to create </div>
        <div class="box-des">
          <span class="des1">2,500 won</span>
          <span class="des2">
            <div class="heart"></div>
            <span class="price">236</span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <button class="btn-more">SEE MORE</button>
</div>
