<div class="product">
  <div class="box">
    <span class="box-title">BEST PRODUCT</span>
    <div class="box-des">
      <p>How to create mobile-optimized videos in minutes. Not a designer,</p>
      <p>every team makes a lot of videos Can be trimmed. Take the first</p>
    </div>
  </div>
  <div class="box-img">
    <div class="img1">
      <img src="../../../../assets/img/best-image-01.png" alt="" >
      <div class="notice">
        <img src="../../../../assets/img/producticon-01.png" alt="" class="notice-img">
      </div>

      <div class="footer">
        <div class="footer-title">
          <p>How to create</p>
          <p>mobile-optimized</p>
        </div>
        <div class="go">
          <img src="../../../../assets/img/go-icon.png" alt="">
        </div>
      </div>
    </div>
    <div class="img1">
      <img src="../../../../assets/img/best-image-02.png" alt="">
      <div class="notice">
        <img src="../../../../assets/img/producticon-02.png" alt="" class="notice-img">
      </div>

      <div class="footer">
        <div class="footer-title">
          <p>How to create</p>
          <p>mobile-optimized</p>
        </div>
        <div class="go">
          <img src="../../../../assets/img/go-icon.png" alt="">
        </div>
      </div>

    </div>
    <div class="img1">
      <img src="../../../../assets/img/best-image-03.png" alt="">
      <div class="notice">
        <img src="../../../../assets/img/producticon-03.png" alt="" class="notice-img">
      </div>

      <div class="footer">
        <div class="footer-title">
          <p>How to create</p>
          <p>mobile-optimized</p>
        </div>
        <div class="go">
          <img src="../../../../assets/img/go-icon.png" alt="">
        </div>
      </div>

    </div>
  </div>
</div>


<!-- Mobile -->
<div class="product-mobile">
  <div class="boxMobile">
    <div class="boxMobile-title">BEST PRODUCT</div>
    <span class="boxMobile-span">How to create mobile-optimized videos in minutes. Not a designer,
      every team makes a lot of videos Can be trimmed. Take the first</span>
  </div>

  <div class="boxImg">
    <div class="boxImg-wrap">
      <img src="../../../../assets/img/best-image-01.png" alt="" class="boxImg-1">
      <div class="notice">
        <img src="../../../../assets/img/producticon-01.png" alt="" class="notice-img">
      </div>
    </div>

    <div class="boxImg-wrap">
      <img src="../../../../assets/img/best-image-02.png" alt="" class="boxImg-1">
      <div class="notice">
        <img src="../../../../assets/img/producticon-02.png" alt="" class="notice-img">
      </div>
    </div>

    <div class="boxImg-wrap">
      <img src="../../../../assets/img/best-image-03.png" alt="" class="boxImg-1">
      <div class="notice">
        <img src="../../../../assets/img/producticon-03.png" alt="" class="notice-img">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="boxFooter">
      <div class="footer-title">
        <p>How to create</p>
        <p>mobile-optimized</p>
      </div>
      <div class="go">
        <img src="../../../../assets/img/go-icon.png" alt="" class="img-go">
      </div>
    </div>
    <div class="boxFooter">
      <div class="footer-title">
        <p>How to create</p>
        <p>mobile-optimized</p>
      </div>
      <div class="go">
        <img src="../../../../assets/img/go-icon.png" alt="" class="img-go">
      </div>
    </div>
    <div class="boxFooter">
      <div class="footer-title">
        <p>How to create</p>
        <p>mobile-optimized</p>
      </div>
      <div class="go">
        <img src="../../../../assets/img/go-icon.png" alt="" class="img-go">
      </div>
    </div>
  </div>
</div>
